# NLP YELP 2

### Import Libraries

In [1]:
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

### Veri yükle

In [22]:
df=pd.read_csv('yelp.csv')

In [23]:
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

### Metin İşleme

In [24]:
def text_processing(df_txt):
    '''
    Gönderilen veri setinin sütunu
    
    '''
    df_txt=df_txt.str.lower()
    df_txt=df_txt.str.replace('[^\w\s]','',regex=True) #vesiyon güncellenmiş
    df_txt = df_txt.str.replace('\n|\t|\r|\d+', '', regex=True) # kaçış karakterleri ve rakamları kaldır
    return df_txt

In [25]:
df['text']=text_processing(df['text'])

In [26]:
df['text']

0       my wife took me here on my birthday for breakf...
1       i have no idea why some people give bad review...
2       love the gyro plate rice is so good and i also...
3       rosie dakota and i love chaparral dog park its...
4       general manager scott petello is a good egg no...
                              ...
9995    first visithad lunch here today  used my group...
9996    should be called house of deliciousnessi could...
9997    i recently visited olive and ivy for business ...
9998    my nephew just moved to scottsdale recently so...
9999     locations all  star average i think arizona r...
Name: text, Length: 10000, dtype: object

In [34]:
df2=df[(df['stars']==1) | (df['stars']==5) ]

In [35]:
df2.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,rosie dakota and i love chaparral dog park its...,review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg no...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,drop what youre doing and drive here after i a...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4

In [36]:
df2.shape

(4086, 10)

In [37]:
X=df2['text']
y=df2['stars']

In [39]:
X,y

(0       my wife took me here on my birthday for breakf...
 1       i have no idea why some people give bad review...
 3       rosie dakota and i love chaparral dog park its...
 4       general manager scott petello is a good egg no...
 6       drop what youre doing and drive here after i a...
                               ...
 9990    yes i do rock the hipster joints  i dig this p...
 9991    only  stars a few notes the folks that rated t...
 9992    im not normally one to jump at reviewing a cha...
 9994    lets seewhat is there not to like about surpri...
 9999     locations all  star average i think arizona r...
 Name: text, Length: 4086, dtype: object,
 0       5
 1       5
 3       5
 4       5
 6       5
        ..
 9990    5
 9991    5
 9992    5
 9994    5
 9999    5
 Name: stars, Length: 4086, dtype: int64)

In [40]:
vect=CountVectorizer()

In [41]:
X=vect.fit_transform(X)

In [42]:
X=pd.DataFrame(X.toarray(),columns=vect.get_feature_names_out())

### Model

In [43]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
#from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import cross_val_score
#accuaracy
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

In [46]:
def model_classification(X,y):
    '''
    X: independent variable
    y: dependent variable
    return best model and its accuracy
    '''
    x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
    models = [GaussianNB(),BernoulliNB(),LogisticRegression(),RandomForestClassifier(), 
              GradientBoostingClassifier()]
    results=[]
    for model in models:
        model.fit(x_train,y_train)
        model_predict=model.predict(x_test)
        print("Model: ",model)
        print("Model Accuracy: ",accuracy_score(model_predict,y_test))
        print("Model Confusion Matrix: ",confusion_matrix(model_predict,y_test),"\n")
        print("Model Classification Report: ",classification_report(model_predict,y_test))
        print("-"*50)
        results.append(accuracy_score(model_predict,y_test))
    #best model
    best_model=models[results.index(max(results))]
    print("Best Model: ",best_model)
    print("Best Model Accuracy: ",max(results))
    models=pd.DataFrame({
        'Model':['GaussianNB','BernoulliNB','LogisticRegression','RandomForestClassifier', 'GradientBoostingClassifier', 'KNeighborsClassifier'],
        'Score':results})
    print(models.sort_values(by='Score', ascending=False, ignore_index=True))
    return best_model,max(results), confusion_matrix(model_predict,y_test)

In [47]:
model_classification(X,y)

Model:  GaussianNB()
Model Accuracy:  0.7585644371941273
Model Confusion Matrix:  [[ 80 143]
 [153 850]]

Model Classification Report:                precision    recall  f1-score   support

           1       0.34      0.36      0.35       223
           5       0.86      0.85      0.85      1003

    accuracy                           0.76      1226
   macro avg       0.60      0.60      0.60      1226
weighted avg       0.76      0.76      0.76      1226

--------------------------------------------------
Model:  BernoulliNB()
Model Accuracy:  0.8213703099510603
Model Confusion Matrix:  [[ 76  62]
 [157 931]]

Model Classification Report:                precision    recall  f1-score   support

           1       0.33      0.55      0.41       138
           5       0.94      0.86      0.89      1088

    accuracy                           0.82      1226
   macro avg       0.63      0.70      0.65      1226
weighted avg       0.87      0.82      0.84      1226

--------------------------------------------------
Model:  LogisticRegression()
Model Accuracy:  0.9257748776508973
Model Confusion Matrix:  [[170  28]
 [ 63 965]]

Model Classification Report:                precision    recall  f1-score   support

           1       0.73      0.86      0.79       198
           5       0.97      0.94      0.95      1028

    accuracy                           0.93      1226
   macro avg       0.85      0.90      0.87      1226
weighted avg       0.93      0.93      0.93      1226

--------------------------------------------------
Model:  RandomForestClassifier()
Model Accuracy:  0.8474714518760196
Model Confusion Matrix:  [[ 49   3]
 [184 990]]

Model Classification Report:                precision    recall  f1-score   support

           1       0.21      0.94      0.34        52
           5       1.00      0.84      0.91      1174

    accuracy                           0.85      1226
   macro avg       0.60      0.89      0.63      1226
weighted avg       0.96      0.85      0.89      1226

--------------------------------------------------
Model:  GradientBoostingClassifier()
Model Accuracy:  0.8792822185970636
Model Confusion Matrix:  [[100  15]
 [133 978]]

Model Classification Report:                precision    recall  f1-score   support

           1       0.43      0.87      0.57       115
           5       0.98      0.88      0.93      1111

    accuracy                           0.88      1226
   macro avg       0.71      0.87      0.75      1226
weighted avg       0.93      0.88      0.90      1226

--------------------------------------------------
Best Model:  LogisticRegression()
Best Model Accuracy:  0.9257748776508973

ValueError: All arrays must be of the same length