# Sentiment Analyse

In [1]:
from textblob import TextBlob

In [2]:
text=TextBlob('I hate you')
text.sentiment

Sentiment(polarity=-0.8, subjectivity=0.9)

In [3]:
TextBlob('you are the best').sentiment

Sentiment(polarity=1.0, subjectivity=0.3)

In [4]:
TextBlob('I am the best').sentiment

Sentiment(polarity=1.0, subjectivity=0.3)

In [5]:
TextBlob('you are the worst').sentiment

Sentiment(polarity=-1.0, subjectivity=1.0)

In [6]:
TextBlob('I am happy').sentiment

Sentiment(polarity=0.8, subjectivity=1.0)

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('yelp.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [19]:
df['stars'][0]

5

In [21]:
TextBlob(df['text'][0]).sentiment

Sentiment(polarity=0.40246913580246907, subjectivity=0.6591122868900646)

In [22]:
TextBlob(df['text'][9111]).sentiment

Sentiment(polarity=-0.04352240896358543, subjectivity=0.4890056022408964)

In [23]:
df['Pol'] = [TextBlob(text).polarity for text in df['text']]

In [24]:
df['Pol']

0       0.402469
1       0.229773
2       0.566667
3       0.608646
4       0.468125
          ...
9995    0.217708
9996    0.375541
9997    0.264633
9998   -0.082366
9999    0.241667
Name: Pol, Length: 10000, dtype: float64

In [27]:
df2=df[df['Pol']>0.2]

In [31]:
df2[['stars','Pol']]

      stars       Pol
0         5  0.402469
1         5  0.229773
2         4  0.566667
3         5  0.608646
4         5  0.468125
...     ...       ...
9993      4  0.430303
9995      3  0.217708
9996      4  0.375541
9997      4  0.264633
9999      5  0.241667

[5847 rows x 2 columns]

In [32]:
df2[['stars','Pol']].corr()

          stars       Pol
stars  1.000000  0.189851
Pol    0.189851  1.000000

In [38]:
df.groupby('stars')['Pol'].mean()

stars
1   -0.017906
2    0.096832
3    0.193733
4    0.277061
5    0.333293
Name: Pol, dtype: float64